PUBLIC_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJmcWdxZXp1YmpwbmhpeGdoZ3pjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MDEyOTEyMzEsImV4cCI6MjAxNjg2NzIzMX0.elk5tpAXc_7iHyXkAHk6wDVLfpk0-pm01bw_8YWVUAs"
PUBLIC_SUPABASE_URL="https://bfqgqezubjpnhixghgzc.supabase.co"
PUBLIC_ERROR_MESSAGE="There was an error, please contact support"