@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700;800;900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* RESETS */
button {
	cursor: default;
}
* {
	-ms-overflow-style: none; /* Internet Explorer 10+ */
	scrollbar-width: none; /* Firefox */
}
*::-webkit-scrollbar {
	display: none; /* Safari and Chrome */
}

.cm-editor {
	width: 100%;
}

.font-effect-hero {
	-webkit-text-stroke: 0.4px #ffffff80;
	-webkit-text-fill-color: transparent;
	text-shadow:
		-1px -1px 0 hsla(0, 0%, 100%, 0.2),
		1px 1px 0 rgba(0, 0, 0, 0.1);
}

audio,
canvas,
embed,
iframe,
img,
object,
svg,
video {
	display: block;
	vertical-align: middle;
}

html {
	overscroll-behavior: none;
}
