@tailwind base;
@tailwind components;
@tailwind utilities;

/* RESETS */
button {
	cursor: default;
}
* {
	-ms-overflow-style: none; /* Internet Explorer 10+ */
	scrollbar-width: none; /* Firefox */
}
*::-webkit-scrollbar {
	display: none; /* Safari and Chrome */
}

.cm-editor {
	width: 100%;
}
